* {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.row{
  margin: 0;
}

.active_nav{
  border-bottom: 2px solid green;
  color: green !important;
}

.navbar
{
  background-color: #fff !important;
}

.navbar-light .navbar-nav .nav-link:hover, .login_nav:hover{
  color: green !important; 
  border-bottom: 2px solid green;
}

a{
  text-decoration:none;
  color:green;
  
}

a:hover{
  color: darkgreen;
}

.button{
    border: 2px solid darkgreen;
    background: #fff;
    overflow: hidden;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    color: darkgreen;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 15px;
    text-decoration: none;
    transition: all 600ms ease;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite; 
}

.button:hover{
  border: 2px solid #1F4068;
  background:#e6ede4;
  color: white;
  text-decoration:none;
  font-size: 17px;
}

@keyframes example {
  from {border: 1px solid darkgreen;
    color: darkgreen;}
  to {  border: 1px solid #1F4068;
    color: #1F4068;}
}

.active-cyan-3 input[type=text] {
  height: 48px;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  font-family: 'Lato', sans-serif;
  border-radius: 13px;
}

.active-cyan-3 input[type=text]:focus{
   background: linear-gradient(to left, #e6e3e3 38%, #ffffff 77%);
   padding-left:25px;
   transition: all 800ms ease;
}

.jumbotron{
  color: darkgreen;
  padding-top: 30px;
  padding-bottom: 35px;
  background-color: rgb(248, 246, 255);
}

.heading{
  font-family: 'Ubuntu', sans-serif;
  color: darkgreen;
}

.section{
background-color: rgb(248, 246, 255);
}


  .card-body{
  background:#e6ede4;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  }

.city_img{
  border-radius: .5rem;
  transition: all 400ms ease;
}

.city_img:hover{
opacity: 0.8;
}

.text_img{
  color: #fff;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 1px;
  position: absolute;
  top: 12%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* .newsletter{
  background-color: rgb(248, 246, 255);
} */

/* newsletter img */
.news_img{
animation-name: float-bob-y;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: float-bob-y;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: float-bob-y;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: float-bob-y;
    -ms-animation-duration: 2s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-animation-name: float-bob-y;
    -o-animation-duration: 2s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
}

@keyframes float-bob-y{

  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}
50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}
100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}

}
/* End newsletter img */

/* price box */
.back-text{
  color: #fff;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 1px;
  text-align: center;
}

.price span {
  font-size: 17px;
  font-weight: 400;
}

.choice-box {
  position: absolute;
  width: 120%;
  left: -140px;
  top: 30px;
  background: #08b352;
  color: #08b352;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500; 
  text-transform: uppercase;
  text-align: center;
  padding: 10px 30px;
  transform: rotate(-50deg);
  transition: all 500ms ease;
  opacity: 1;
}

.price-body{
    position: relative;
    display: block;
    overflow: hidden;
    background: #08b352;
    color: #fff;
    text-align: center;
    padding: 41px 15px 45px 15px;
    border-radius: 30px;
    transition: all 900ms ease;
}

.price-body:hover{
  background: #fff;
  color: black;
  box-shadow: 0px 0px 10px gray, -0px -0px 10px gray;
  padding-top: 50px;
  padding-bottom: 50px;
}

.price-body:hover .choice-box{
  color: #fff;
}

/* End price box */

/* footer */

.ic .fa{
  font-size:23px;
  padding: 11px;
}

.ic .fa:hover{
background: #fff;
padding: 11px;
}
.fa-facebook:hover{
  color:#3b5998; 
}

.fa-twitter:hover{
  color:#00aced; 
}

.fa-instagram:hover{
  color: #d6249f;
}

.fa-linkedin:hover{
  color:#007bb6; 
}


.page-footer{
  background: #008D47;
  color:#fff;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 1px;
}
.page-footer a{
  color:#fff;
}

hr{
  background-color: #fff;
}

/* footer */