#light_group path{
  fill: red;
  animation: mymove 2s infinite;
  }
  
  #light, #light_4{
      fill:green;
      animation: mymove 3s infinite;
      }
  
      #light_2, #light_3{
          fill:blue;
          animation: mymove 1s infinite;
          }
  
  @keyframes mymove {
      0%   {fill: red;}
      25%  {fill: yellow;}
      50%  {fill: blue;}
      100% {fill: green;}
    }
